@charset "UTF-8";

/* header */
.header-wrap {
  width: 100%;
  background-color: aquamarine;
}
.header-wrap header {
  width: 96%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.header-wrap header #logo {
  width: 150px;
  height: 50px;
  background-color: aqua;
}
.header-wrap header #logo a {
  width: 100%;
  height: 100%;
  display: block;
  background: url(../assets/logo.png) center no-repeat;
  background-size: contain;
  text-indent: -9999px;
}
.header-wrap .nav {
}
.header-wrap .nav li {
  float: left;
}

/* content */
.content-wrap {
  width: 100%;
}
.content-wrap #content {
  width: 96%;
  margin: 0 auto;
}
.content-wrap #content {
}

/** search-form **/
.search-box {
  background-color: bisque;
  width: 100%;
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: center;
}

/** search-list  **/
.search-list-box {
}
.search-list-box ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.search-list-box ul li {
  width: 20%;
  border: 1px solid #000;
}
.search-list-box ul li img {
  width: 100%;
}

/* modal */
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}
.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.modal-body,
.modal {
  color: #666 !important;
}
.modal-container .modal-body video {
  width: 100%;
  height: 50px;
}

/**  playlist **/

.swiper .img-box {
  width: 400px;
  height: 400px;
  background: url(../assets/images/calm.jpg) center no-repeat;
  background-size: cover;
  border-radius: 50%;
  position: relative;
}
.swiper .img-box::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.swiper .img-box:hover {
  animation: rotating 3s linear infinite;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.img-box img {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (min-width: 360px) {
}
