@charset "UTF-8";
/* app */
#app {
  background-color: #000;
}
/* header */
.header-wrap {
  width: 100%;
  margin-bottom: 4vh;
}
.header-wrap header {
  width: 98%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.header-wrap header #logo {
  width: 150px;
  height: 50px;
  background-color: aqua;
}
.header-wrap header #logo a {
  width: 100%;
  height: 100%;
  display: block;
  background-size: contain;
}
.header-wrap .nav {
  height: inherit;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-wrap .nav li {
  float: left;
  font-weight: 500;
}
.header-wrap .nav li a {
  position: relative;
  color: #fff;
}
.header-wrap .nav li a.router-link-exact-active::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  border-bottom: 3px solid rgb(228, 255, 75);
}

.header-wrap .nav li:hover a:not(.router-link-exact-active)::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  border-bottom: 3px solid rgb(228, 255, 75);
  animation: menuHover 0.2s ease-in;
}
@keyframes menuHover {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/* content */
.content-wrap {
  width: 92%;
  margin: 0 auto;
}

/*  main page */

.text-wrap {
  width: 100%;
  overflow: hidden;
  font-size: 4vw;
  margin-top: 15vh;
  color: #fff;
}
.text-wrap .text-name-box span {
  font-weight: 600;
}
.text-wrap .text-quote-box {
  margin: 2.5vh 0 6vh 0;
}
.text-wrap .text-quote-box p:first-child {
  font-size: 7.5vw;
  line-height: 10vw;
  font-weight: 600;
  color: rgb(228, 255, 75);
}
.text-wrap .text-quote-box p:last-child {
  font-size: 3vw;
  text-align: right;
}
.list-box {
  width: 100%;
  margin: 5vh auto 0 auto;
}
.list-box h4 {
  font-size: 3.7vw;
  font-weight: 500;
}
.swiper-container {
  width: 100%;
  margin: 2vh 0;
}
.swiper {
  position: relative;
}
.swiper .swiper-slide {
  padding: 0 5%;
  box-sizing: border-box;
  border-left: 1px solid #fff;
}
.swiper .swiper-slide p {
  font-weight: 600;
  font-size: 3vw;
  text-align: left;
  margin-bottom: 15px;
}
.swiper .img-box {
  width: 100%;
  background-size: cover !important;
  position: relative;
  margin: 0 auto;
}
.swiper .img-box::after {
  content: "";
  display: block;
  padding-bottom: 45%;
}

.swiper .chill .img-box {
  background: url(../assets/images/chill.jpg) center no-repeat;
}

.swiper .fgood .img-box {
  background: url(../assets/images/fgood.jpg) center no-repeat;
}

.swiper .groove .img-box {
  background: url(../assets/images/groove.jpg) center no-repeat;
}

.swiper-func-wrap {
  position: relative;
  width: 100%;
  display: flex;

  background-color: #42b983;
}
.swiper-func-wrap .swiper-pagination {
  width: fit-content;
  font-size: 12px;
  left: unset;
  bottom: unset;
  right: 0;
}
.swiper-pagination-current {
  color: rgb(228, 255, 75);
  font-weight: bold;
}
.img-box img {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* search page*/
.search-box {
  background-color: bisque;
  width: 100%;
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: center;
}

.search-list-box {
}
.search-list-box ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.search-list-box ul li {
  width: 20%;
  padding: 2%;
  box-sizing: border-box;
  border: 1px solid #000;
}
.search-list-box ul li .album-box{
  width: 100%;
  overflow: hidden;
  position: relative;
  border: 1px solid #fff;
  
  }
  .search-list-box ul li .album-box::after{
    content: "";
    display: block;
    padding-bottom: 100%;
  }
.search-list-box ul li .album-box img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50% ,-50%);
}
.search-list-box ul li .title{
  font-weight: 600;
  margin: 2vw 0 1vw 0;
}
.search-list-box ul li .artist{
  font-size:2.5vw;
}

/* modal */
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;

}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.4s ease;
  font-size: 3vw;
  font-family: "Montserrat", sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}
.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.modal-body,
.modal {
  color: #666 !important;
}
.modal-container .modal-body video {
  width: 100%;
  height: 50px;
}

/* mobile */
@media screen and (min-width: 360px) {
  .swiper-container {
    width: 100%;
  }
  .search-list-box ul li{
    width: 50%;
  }
  .modal-mask.list .modal-container{
    width: 100%;
    height: 100%;
    overflow: scroll;
  }
  .modal-mask.list .modal-container ul{
    width: 100%;
  }
  .modal-mask.list .modal-container ul li{
    height: 15vw;
    display: flex;
    padding: 5px 0;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
  }
  .modal-mask.list .modal-container ul li img{

    display: inline-block;
  }
  .modal-mask.list .modal-container ul li p{
    display: flex;
    align-items: center;
    width: 35%;
  }
}
