@charset "UTF-8";

/* header */
.header-wrap {
  width: 100%;
  background-color: aquamarine;
}
.header-wrap header {
  width: 96%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.header-wrap header #logo {
  width: 150px;
  height: 50px;
  background-color: aqua;
}
.header-wrap header #logo a {
  width: 100%;
  height: 100%;
  display: block;
  background: url(../assets/logo.png) center no-repeat;
  background-size: contain;
  text-indent: -9999px;
}
.header-wrap .nav {
}
.header-wrap .nav li {
  float: left;
}

/* content */
.content-wrap {
  width: 100%;
}
.content-wrap #content {
  width: 96%;
  margin: 0 auto;
}
.content-wrap #content {
}

/** search-form **/
.search-box {
  background-color: bisque;
  width: 100%;
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: center;
}

/** search-list  **/
.search-list-box {
}
.search-list-box table {
  width: 100%;
}
.search-list-box table tr td {
  height: 10vh;
  vertical-align: middle;
  background-color: blueviolet;
}

.search-list-box table tr td img {
  height: inherit;
  display: block;
  margin: 0 auto;
}

/**  playlist **/
.playlist-box {
  display: flex;
  justify-content: space-between;
}
.playlist-box li {
  width: 300px;
  height: 650px;
  box-sizing: border-box;
  border: 1px solid #000;
  padding: 10px;
  position: relative;

}
.playlist-box li p.title {
  width: 100%;
  font-family: "capian" sans-serif;
  font-weight: bold;
  font-size: 3rem;
  padding-bottom: 10px;
}
.playlist-box li .img-box{
  width: calc(100% - 20px);
  height: 370px;
  overflow: hidden;
  position: absolute;
  bottom: 10px;
} 
.playlist-box li .img-box img {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
